body *{
    display: flex;
}
header{
    flex-direction: column;
    align-items: center;
}
header>div{
    justify-content: space-between;
    align-items: center;
}
a{
    margin: 0 50px;
}
main *{
    flex-direction: column;
}
footer{
    flex-direction: column;
    align-items: center;
}