/*général*/
body{
    width: 1160px;
    margin: auto;
}
div{
    width: 1160px;
}
/*en-tête*/
header{
    background-color: #782221;
    color: white;
}
header>div{
    background-color: #2c1d27;
}
/*corp*/
h2{
    background-color: #dbc2a4;
}
.info-bar{
    background-color: #782221;
    width: 33%;
    color: white;
}
.info-bar__title{
    color: black;
}
.element__title{
    border-left-color: #782221;
    border-left-width: 10px;
    border-left-style: solid;
}
/*cursor: zoom-in; /*loupe avec +*/
